<a href="https://colab.research.google.com/github/jjy0410/study/blob/main/gumi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [15]:
path = '/content/drive/MyDrive/colab/aifactory'
tr_data = pd.read_csv(path + '/gumi.csv', encoding="cp949")

In [16]:
tr_data

       유량계 코드    년도  월  일자      유량값         시침           종침
0         283  2019  9   1    926.0    2051633    2052559.0
1         286  2019  9   1   1142.0    3000089    3001231.0
2         289  2019  9   1    724.0    1422319    1423043.0
3         292  2019  9   1  46744.0  121278200  121324944.0
4         295  2019  9   1   1028.0    2339002    2340030.0
...       ...   ... ..  ..      ...        ...          ...
31802     392  2021  8  11     19.3    1734714    1734717.0
31803     395  2021  8  11     38.5    5647936    5647948.0
31804     398  2021  8  11     79.1    2564903    2564926.0
31805     410  2021  8  11    885.5   74676705   74676917.0
31806     328  2021  8  11    328.6   16992536   16992628.0

[31807 rows x 7 columns]